@tailwind base;
@tailwind components;
@tailwind utilities;

/* #add-workout-btn:focus {
  color: #fff !important;
  background-color: #000 !important;
}

#my-workout-btn:focus {
  color: #fff !important;
  background-color: #000 !important;
} */
