@tailwind base;
@tailwind components;
@tailwind utilities;

summary::-webkit-details-marker {
  display: none;
}

summary {
  list-style: none;
}

.table tbody > tr > td.vertical-aligned {
  align-items: flex-end !important;
}
